@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
	padding: 0;
	margin: 0;
	background-color: #fff;
	font-family: 'Quicksand', sans-serif;
}
* {
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	user-select: none;
}
audio {
	display: none;
}
.wrapper-music-player {
	position: absolute;
	width: 100%;
	height: 100%;
}
.active-color {
	color: #27ae60;
}
.global-color {
	color: #fff;
}
.light-color {
	color: #000;
}
.dark-color {
	color: #fff;
}
.music-player {
	position: absolute;
	width: 360px;
	height: 620px;
	background-color: #fff;
	margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}
.icon-padding {
	font-size: 16px;
	padding: 20px;
	z-index: 999999;
}
.icon-padding > i {
	cursor: pointer;
}
.icon-padding > i:hover {
	opacity: 0.5;
}
.icon-menu {
	float: left;
}
.icon-search {
	float: right;
}
.control-player {
	position: absolute;
	width: 100%;
	height: 207px;
	bottom: 0;
	background: #fff;
	color: #000;
	text-align: center;
}
.body-player > img {
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 0;
	opacity: 0.7;
	background-size: cover;
	height: 409px;
}
.body-player {
	height: 414px;
    position: absolute;
    width: 100%;
    top: 0px;
    overflow: hidden;
    background: rgba(0,0,0,0.2);
}
.background-player {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	filter: blur(3px);
	transform: scale(1.1);
	z-index: -1;
}
.wrapper-info {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 87%;
	bottom: 0;
	transition: 0.2s;
	overflow: hidden;
	/*display: none;*/
}
.wrapper-info > p{
	
}
.song-info {
	position: absolute;
	transition: 0.2s;
	width: 100%;
	height: 100%;
	/*background: green;*/
}
.title-song {
	margin: 8px;
	font-weight: 900;
}
.liric {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: 0.2s;
    background: red;
}
.view-image {
	width: 100%;
	height: 100%;
	position: absolute;
	transition: 0.2s;
	background: pink;
}
.control {
	position: absolute;
    top: 36%;
    left: 0;
    right: 0;
    width: 80%;
    margin: auto;

}
.control > i {
	cursor: pointer;
	padding: 0 28px;
}
.control > i:hover {
	opacity: 0.5;
}
.btn-play-pause {
	font-size: 24px;
}
.control .vertical-center {
	vertical-align: text-top;
}
.play-custom-control {
	position: absolute;
	bottom: 2px;
	margin: auto;
	left: 0;
	right: 0;
	padding: 12px;
}
.play-custom-control > i {
	padding: 5px 31px;
    opacity: 0.9;
    cursor: pointer;
}
.play-custom-control > i:hover {
	opacity: 0.5;
}
.play-progress {
	position: absolute;
	width: 100%;
	top: 0;
}
.progress-duration {
	width: 100%;
    height: 2px;
    background: #fff;
    cursor: pointer;
}
.control-player:hover .progress-duration, .play-progress-current {
	height: 5px;
}
.play-progress-current {
	height: 100%;
	background: #000;
}
.time-duration > span {
	font-size: 13px;
	float: left;
	margin: 4px;
}
.float-right {
	float: right !important;
}
.slider {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}



@media screen and (max-width: 480px) {
	.body-player {
		height: 66% !important;
	}
	.control-player {
		height: 34% !important;
	}
	.music-player {
		width: 100% !important;
		height: 100% !important;
	}
}
